* {
  margin: 0;
  padding: 0;

  color: #dfe4e4;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  background-color: #133331;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
}

h1 > a {
  color: black;
  text-decoration: none;
}

h2 p {
  margin: 20px auto 20px auto;
  max-width: 1400px;
}

p {
  margin: 20px auto 20px auto;
  max-width: 1400px;
}

#page-wrapper {
  position: relative;
}

#header {
  display: flex;
  position: fixed;
  background-color: #bccccc;
  color: black;
  padding-bottom: 5px;
  align-items: center;
  text-align: center;
  z-index: 9;
  width: 100%;
}

.heading {
  padding-top: 100px;
}

#nav-bar {
  min-width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

#nav-bar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#nav-bar li {
  list-style: none;
  position: relative;
  width: 100%;
  display: inline;
}

#nav-bar a {
  padding: 10px 30px;
  text-decoration: none;
  color: black;
}

#header-img {
  width: 100%;
  object-fit: cover;
  max-width: 50px;
  padding: 20px 10px 20px 10px;
}

.main-section {
  width: 100%;
  margin: 0 auto;
}
.page-wrapper {
  margin: 0 auto;
  width: 100%;
}

#main-doc {
  position: relative;
  padding: 20px;
}

#amenities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.icon {
  border-radius: 4em;
  height: 50px;
  width: 50px;
  margin: 10px 10px 1px 10px;
  object-fit: cover;
  overflow: hidden;
  float: left;
}

#reviews > iframe {
  max-width: 560px;
  width: 100%;
}

#review_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
}

.review {
  background-color: #bccccc;
  border-radius: 1em;
  margin: 25px;
  max-width: 600px;
  margin: 0 auto;
}

#amenities > div {
  background-color: black;
  border-radius: 0.5em;
  min-width: 350px;
}

#am-li {
  background-color: #bccccc;
  color: black;
}

#amenity_details li {
  list-style: none;
  position: relative;
  width: 100%;
}

h3 h4 h5 {
  padding-bottom: 10px;
}

.review > p {
  margin: 10px;
  color: black;
  text-align: left;
}

.review > h4 {
  margin: 10px 0px 1px 0px;
  color: black;
  text-align: left;
}

.review > h5 {
  margin: 0px;
  color: black;
  text-align: left;
}

.review > p {
  margin: 0px 10px 0px 10px;
  color: black;
  padding-bottom: 10px;
}

@media (max-width: 650px) {
  nav {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 0px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

fieldset {
  border: none;
  padding: 2rem 0;
}
