* {
  margin: 0;
  padding: 0;
  background-color: #133331;
  color: #dfe4e4;
}

html,
body {
  min-width: 290px;

  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#page-wrapper {
  position: relative;
}

#nav-head {
  display: flex;
  padding-bottom: 5px;
  padding-right: 20px;
  align-items: center;
  text-align: center;
}

#navbar {
  position: relative;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  list-style: none;
  position: relative;
  width: 100%;
  display: inline;
}

#navbar a {
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

#header-img {
  width: 100%;
  object-fit: cover;
}

#main-doc {
  position: relative;
  padding: 20px;
  margin-bottom: 110px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.icon {
  border-radius: 4em;
  height: 50px;
  width: 50px;
  object-fit: cover;
  overflow: hidden;
}

#reviews > iframe {
  max-width: 560px;
  width: 100%;
}

#review_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

@media (max-width: 650px) {
  nav {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 0px;
  }
  nav li {
    padding-bottom: 5px;
  }
}
